<h2><%= @tree.name %></h2>
<p><%= @tree.address %></p>
<p><%= @tree.fruits %></p>
<p><%= @tree.description %></p>
<p><%= @tree.quantity_by_year %></p>
<p><%= @tree.price_per_year %></p>
<p><%= @tree.user.first_name %> <%= @tree.user.last_name %></p>

<%= link_to "Edit", edit_tree_path %>
<%= link_to "Delete #{@tree.name}",
            tree_path(@tree),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= link_to "Adopt this tree!", new_tree_adoption_path(@tree) %>

<%= simple_form_for [ @tree, @adoption ] do |f| %>
  <%= f.input :starts_at, input_html: { :value => Date.today} %>
  <%= f.input :ends_at, input_html: { :value => Date.today.year + 12} %>
  <%= f.submit "Adopt this tree", class: "btn btn-primary" %>
<% end %>
